<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite 
[
	<!ENTITY testParams SYSTEM "src/test/resources/config/test-params.xmlf">
]>

<suite name="Testing Jenkins" verbose="10">
  <parameter name="selenium.host" value="localhost" />
  <parameter name="selenium.port" value="3737" />
  <parameter name="selenium.browser" value="*firefox" />
  <parameter name="selenium.url" value="http://demo.opensourcecms.com/wordpress/" />
 
  <test name="Jenkins" preserve-order="true">
    <classes>
      <class name="test.NewTest">
        <methods>
          <include name="test1" />
          <include name="test2" />
          <include name="test3" />
          <include name="test4" />
          <include name="test5" />
          <include name="test6" />
        </methods>
      </class>
    </classes>
  </test>
</suite>
